.CardSpeakers{
    /* width: 90%; */
    width: 45%;
    /* margin: 5% 0 40% 7%; */
    /* margin-top: 5%; */
    /* margin-bottom: 5%; */
    margin: 0% 0 5% 4%;
    height: 32vh;
    /* padding-bottom: 1%; */
    background-color: white;
    overflow: hidden;
    border-radius: 15px;
    font-size: smaller;
}
.CardSpeakers img{
    width: 100%;
    height: 23vh;
    background-color: black;

}
.CardSpeakers .textos{
    width: 90%;
    flex-wrap: nowrap;
    padding-left: 5%;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
}
.CardSpeakers .textos h3,p{
    margin-top: 2%;
    display: flex;
    overflow: hidden;
    /* background-color: aqua; */
}
.CardSpeakers .textos p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}