.Informations{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0%;
    background-color: #ffffff;
    /* height: 100vh; */
    color: #1E2A5E;
    font-size: 20px;
}
.Informations h2{
    margin:5% 5%;
}

.Informations p{
    margin:5% 5%;
}
.Informations img{
    width: 80vw;
    height: 70vw;
    margin: 0 auto;
    display: flex;
    border-radius: 35px;
}