.Speakers{
    background-color: #121c4b;
    /* height: 100vh; */
    padding-top: 5%;
    /* flex-basis: 1%; */
    display: flex;
    flex-direction: row;
    /* overflow:  */
    /* flex-grow: ; */
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-around; */
}
.Speakers h2{
    margin: 0% auto 5%;
    color: white;
    font-size: 25px;
}